langchain
langchain-community
langchain-openai
langchain-pinecone
ipykernel
ipywidgets
ipython
openai
python-dotenv
pinecone
pinecone-notebooks
tiktoken
pypdf
docx2txt
wikipedia
chromadb
streamlit


